<div class="message-form" id="chat-form-<%= @chat.id %>">
  <textarea class="message-body"
            id="message-body-<%= current_user.id %>-<%=@chat.id %>"
            rows="1"
            cols="25"
            onkeyup="checkMessage(event);"></textarea>
  <a href=""
     class="custom-button"
     id="send-message-button"
     onclick="SendMessage(event, this);"
     data-user="<%=current_user.id %>"
     data-chat="<%=@chat.id%>">
    <i class="fa fa-angle-double-right"></i>
  </a>
</div>