<% message_class = message.user.id == current_user.id ? "self" : "" %>
<div class="message-div">
  <blockquote class="message <%= message_class %>" id="message-<%=message.id %>">
    <%= message.body %>
    <small id="time-ago-<%= message.id %>"><%= message.user.name %> - <%= time_ago_in_words message.created_at %> fa</small>
  </blockquote>
</div>
