  <!-- Nav tabs -->
<nav>
  <ul class="menu-bar" role="tablist">
    <li role="presentation" class="active">
      <a href="" id="logon-<%=@user.name%>" class="button" >Ciatt con <%= @user.name %></a>
    </li>
    <li role="presentation">
      <a href="<%= root_url %>" onclick="ClearInterval(messagesReloading);" ><i class="fa fa-home"></i></a>
    </li>
    <li role="presentation">
    <a class="fa fa-sign-out"  rel="nofollow" data-method="delete" href="/logout" onclick="ClearInterval(messagesReloading);" ></a>
    </li>
  </ul>
</nav>

<div class="messages-panel" id="messages-panel-<%= @chat.id %>">
  <div class="messages-box" id="messages-box-<%= @chat.id %>">
    <%= render @chat.messages.order(:created_at).all %>
  </div>
  <%= render 'messages/form' %>
</div>
<input type="hidden" id="sender" name="sender" value="<%= @user.name%>" />
<input type="hidden" id="receiver" name="receiver" value="<%= current_user.name %>" />
<script>
var sender = document.getElementById('sender').value;
var receiver = document.getElementById('receiver').value;
var messages =  [];

$(function(){
  document.title = 'Ciat con '+sender;
  var mb = document.getElementById("messages-box-<%= @chat.id %>");
  mb.scrollTo(0, mb.scrollHeight);
  SetUserOnlineStatus(<%=@user.id%>);
  setUserOnlineStatus = setInterval(SetUserOnlineStatus, 15000, <%=@user.id%>);
  GetMessages(<%= @chat.id %>);
  messagesReloading = setInterval(ReloadMessages, 30000, <%= @chat.id %>);
});
</script>