  <!-- Nav tabs -->
<nav>
  <ul class="menu-bar" role="tablist">
    <li role="presentation" class="active">
      <a href="">Ciatt con <%= @user.name %></a>
    </li>
    <li role="presentation">
      <a href="<%= root_url %>"><i class="fa fa-home"></i></a>
    </li>
    <li role="presentation"><%= link_to '', logout_path, class: "fa fa-sign-out", method: :delete %></a></li>
  </ul>
</nav>

<div class="messages-panel" id="messages-panel-<%= @chat.id %>">
  <div class="messages-box" id="messages-box-<%= @chat.id %>">
    <%#= render @chat.messages.all %>
  </div>
  <%= render 'messages/form' %>
</div>
<input type="hidden" id="sender" name="sender" value="<%= @user.name%>" />
<input type="hidden" id="receiver" name="receiver" value="<%= current_user.name %>" />
<script>
var sender = document.getElementById('sender').value;
var receiver = document.getElementById('receiver').value;
var messages = [];

$(function(){
  document.title = 'Ciat con '+sender;
  document.getElementById("messages-box-<%= @chat.id %>").innerHtml = '';
  GetMessages(<%= @chat.id %>);
  setInterval(ReloadMessages, 60000, <%= @chat.id %>);
});
</script>